atomicwrites==1.4.0
contourpy==1.1.1
control==0.9.4
cycler==0.12.1
fonttools==4.53.1
fsspec==2024.2.0
kiwisolver==1.4.5
matplotlib==3.7.5
mccabe==0.6.1
mkl-service==2.4.0
numpy==1.24.3
pandas==1.5.3
parso==0.7.0
pyparsing==3.1.2
pywin32==305.1
QDarkStyle==2.8.1
scipy==1.10.1
sip==4.19.13
torch==2.2.0
torchaudio==2.2.0
torchvision==0.17.0
webencodings==0.5.1
